{{#packageName}}
package {{toString}};
{{/packageName}}

{{#importList}}
import {{toString}};
{{/importList}}

public final class {{className}} {

    {{#fields}}
    {{visibility}} {{#modifiers}}{{toString}} {{/modifiers}}{{type}} {{name}} {{#value}} = {{{toString}}}{{/value}};
    {{/fields}}

    {{#methods}}
    {{visibility}} {{#modifiers}}{{toString}} {{/modifiers}}{{type}} {{name}} ({{#params}}{{toString}}{{/params}}) {
        {{#blockLines}}
        {{{toString}}}
        {{/blockLines}}
    }
    {{/methods}}

    private {{className}}(){}
}